ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	background: rgb(86, 118, 129);
	float: right;
}

ul li {
	float: right;
}

ul a {
	display: block;
	padding: 0 2em;
	line-height: 2em;
	color: aliceblue;
	text-decoration: none;
}

ul a:hover {
	background-color: lightgray;
	color: rgb(86, 118, 129);
}